<ion-header>
  <ion-toolbar>
    <ion-title>
      Segundo paso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/2.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Sigamos</ion-card-subtitle>
        <ion-card-title>2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Verifique que sus senos no muestren cambios en la piel o en el pezón</p>
      </ion-card-content>
    </ion-card>
</ion-content>
