<ion-header>
  <ion-toolbar>
    <ion-title>
      Primer paso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/1.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Empecemos</ion-card-subtitle>
        <ion-card-title>1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Examina tus senos circularmente desde la axila hasta el pezón, sin levantar los dedos</p>
      </ion-card-content>
    </ion-card>
</ion-content>
