<ion-header>
  <ion-toolbar>
    <ion-title>
      Tercer paso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/3.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Terminamos con</ion-card-subtitle>
        <ion-card-title>3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Levante el pecho con una almohada y palpe los senos con movimientos circulares. Comprima el pezón con los dedos índice y pulgar para confirmar que no hay secreción</p>
      </ion-card-content>
    </ion-card>
</ion-content>

